html{
	  cursor: url(default.png),auto;
     background: #f2f2f2;
}
.header{
		  text-align: center;
		  font-family: arial;
		  font-size: 20px;
        background: #e9e9e9;
        border: 2px solid black;
        text-shadow: 3px 3px 3px #0d0d0d;
}
.para{
		text-align: center;
}
.button{
		  width: 100%;
		  height: 37.5px;
		  font-size: 16px;
		  font-family: arial narrow;
		  cursor: url(link.png),auto;
		  background: lightgrey;
}
.button:hover{
				  background: darkgrey;
}
.links{
		 background: darkgrey;
}
.cursors{
			background: lightgrey;
			text-align: center;
}
.help:hover{
            background: grey;
}
.move:hover{
            background: grey;
}
.nwse:hover{
            background: grey;
}
.pen:hover{
           background: grey;
}
.ew:hover{
          background: grey;
}
.nesw:hover{
            background: grey;
}
.up:hover{
          background: grey;
}
.no:hover{
          background: grey;
}
.link:hover{
            background: grey;
}
.default, text, link, no, up, nesw, ew, pen, nwse, move, help{
			cursor: url(default.png),auto;
                        background: white;
}
.default:hover{
               background: grey;
}
.text:hover{
            background: grey;
}
